/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image:url('/assets/startup-593327_1920.jpg');
}

p{
  font-family: 'Roboto', sans-serif;
  font-size:1.25em;
}

h2{
  text-align:center;
  color:rgb(67,232,216);
  font-family: 'Courgette', cursive;
  font-size:4em;
}

h1{
   text-align:center;
   color:white;
   font-family: 'Courgette', cursive;
   font-size: 9em;
}

h3{
  text-align:center;
  color:white;
  font-family: 'Courgette', cursive;
  font-size: 2em;
}

h1 a{
  text-decoration:none;
  color:white;
}

.front-page{
  width:60%;
  margin-top:-8%;
  margin-left:20%;
  padding:2%;
}
.front-page h2, p{
  color:white;
}

.front-page p{
  font-size:1.25em;
}


header h1{
  margin:0 auto;
  font-size:3em;
  text-align:left;
}

.secondary-color{
  color:rgb(67,232,216);
}

.to-new{
  background-color:Transparent;
  border-radius:10px;
  border-color:rgb(67,232,216);
  border-style:solid;
  border-width:4px;
  padding:1%;
}

.to-new a, .to-new p{
  background-color:Transparent;
  color: rgb(67,232,216);
  text-decoration:none;
  font-size:2.5em;
}

.to-new:hover{
  background-color:rgb(67,232,216);
}

.to-new a:hover{
  color:darkgrey;
}

.centered-button{
  margin-left:30%;
}

.centered-button2{
  margin-left:35%;
}

.all-content{
  width:80%;
  margin:10%;
  float:left;
  margin-top:0%;
}

.standard-side{
  margin:0;
  width:30%;
  float:left;
}

.basic{
  padding:2%;
  width:100%;
  margin:0;
  background-color:rgb(67,232,216);
  color:white;
  float:left;
  padding-bottom:2.5%;
}

.companies{
  padding:2%;
  width:100%;
  margin:0;
  background-color:black;
  color:white;
  padding-bottom:2.75%;
}

.letter-content{
  padding:2%;
  width:66%;
  margin:0;
  background-color:white;
  float:left;
  padding-bottom:2%;
}

.letter-content p{
  color:black;
}

.secondary-color2{
  color:black;
}

.finished-page{
  width:60%;
  margin-left:20%;
  background-color:white;
  padding:2%;
  margin-bottom:2%;
}

.finished-page p{
  color:black;
}
