h1, h2{
  text-align:center;
}

.info{
  /*display:block;*/
  width:10%;
  margin:5%;
  float:left;
}

.info2{
  /*display:block;*/
  width:10%;
  margin:5%;
}

.content{
  width:60%;
  float:left;
  margin:5%;
  padding:1%;
  border:solid;
}

button{
  margin:2%;
}
