<h1>Cover<span class="secondary-color">Create</span></h1>

<div class = "front-page">
  <h3><span class="secondary-color">"Few employers seriously consider a resume that is not accompanied by a cover letter"</span></h3>
  <!-- <p>This is something anyone who has ever spent anytime with HR managers, representatives, resume writers, recruiters and other people who regularly work with job seekers hears all the time.</p>
  <p>In an increasingly competative job market, it is that much more important to do all that is necessary to stand out and make a good impression. Unfortunately it can take an awful lot of time and energy to craft statements that are succinct and to the point while still maintaining your individuality for each of the many positions you will likely need to apply to before getting that coveted job offer.</p> -->
  <p>That's where CoverCreate comes in. Create your own template for the type of position your likely to apply for, save it for future use and fill in with relavant company information and skills later. Then send it through email to your interviewer when your ready. Or you can use one of our templates, whichever you'd prefer. Either way, we're here to make your job hunt that much easier.</p>

  <div class= "centered-button">
    <button class="to-new"><a href="/basics/new">Let's Get Started</a></button>
    <button class="to-new"><a href="/basics">all letters</a></buttons>
</div>
</div>
